<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TaskManager</display-name>
  <welcome-file-list>
    <welcome-file>/Login.jsp</welcome-file>
  </welcome-file-list>
  <display-name>TaskManager</display-name>
  
    <!-- 1.LoginServlet mapping -->
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ManagerApp.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- 2.Signup.java mapping -->
  <servlet>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.ManagerApp.client.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  
  <!-- 3.Logout mapping -->
  <servlet>
  <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ManagerApp.client.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  
   <!-- 4.DataServlet mapping -->
  <servlet>
   <display-name>TaskManager</display-name>
    <servlet-name>TaskManager</servlet-name>
    <servlet-class>com.ManagerApp.client.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskManager</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  
  <!-- 5.EndProcess mapping -->
  <servlet>
    <description></description>
    <display-name>EndProcess</display-name>
    <servlet-name>EndProcess</servlet-name>
    <servlet-class>com.ManagerApp.client.EndProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndProcess</servlet-name>
    <url-pattern>/EndProcess</url-pattern>
  </servlet-mapping>
  
  <!-- 6.GetAdData mapping -->
  <servlet>
    <servlet-name>ADData</servlet-name>
    <servlet-class>com.ManagerApp.client.CollectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADData</servlet-name>
    <url-pattern>/CollectData</url-pattern>
  </servlet-mapping>

</web-app>